
@import 'variables/variables';
@import '~compass-mixins';
@import 'mixins/mixins';

@import '~normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap-grid';

@import '~prismjs/themes/prism-tomorrow.css';


@import 'typography/typography';

@import 'modules/modules';

@import 'nav/navigation';

@import 'elements/elements';

body{
    background-color: $jbr_teal;

    &.content-loaded{
        background-color: $jbr_white;
    }
}

.site{
    background-color: $jbr_white;
}