
.banner {

    background-size: cover;
    background-position: center;
    overflow: hidden;

    @include picture-cover;

    .inner {


        position: relative;
        display: flex;

        justify-content: center;
        align-items: center;
        height: 30vw;
        text-align: center;
        background-color: rgba($jbr_teal, 0.6);


        h1 {
            display: inline-block;
            background-size: cover;
            //color: transparent;
            background-clip: text;
            font-size: 3rem;

            animation: title-in 2s;
            animation-fill-mode: both;

            span {
                animation-delay: 1.5s;
                animation: title-in 2s;
                animation-fill-mode: both;
            }

            @media(min-width: 768px) {
                font-size: 7rem;
            }

            position: relative;
            z-index: 2;
            color: $jbr_white;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

            @import 'banner/largetext';

            @supports not(background-clip: text){
                color: white;
                background: none !important;
            }


        }

    }

    @import 'banner/home';

}