
@keyframes show-title{
    from{
        color: transparent;
    }

    to{
        color: rgba($jbr_blue,0.6);
    }
}

@keyframes show-banner{
    from{
        background-color: white;
    }

    to{
       background-color: transparent;
    }
}



.banner{
   
    background-size: cover;
    background-position: center;

    @include picture-cover;

    .inner{

    
        position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 30vw;
    text-align: center;

    animation: show-banner 3s;
    animation-fill-mode: both;

    h1{
        display: inline-block;
        background-size: cover;
        color: transparent;
        background-clip: text;
        font-size: 7rem;
        animation: show-title 3s;
        animation-fill-mode: both;
    }

}
}