.site-footer{
    background-color: $jbr_blue;
    color: $jbr_white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}

.loader{
    pointer-events: none;
    display: none;
    @supports(clip-path: polygon(0% 0%, 15% 100%, 100% 100%, 85% 0)){
        clip-path: polygon(0% 0%, 0% 100%, 0% 100%, -15% 0);
        transition: 0.2s;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $jbr_teal;
        z-index: 100;
        
    
    }

    &.active{
        @supports(clip-path: polygon(0% 0%, 15% 100%, 100% 100%, 85% 0)){
            clip-path: polygon(0% 0%, 0% 100%, 115% 100%, 100% 0);
            
        
        }
    }
}