img{
    max-width: 100%;
}

.mockups{
    position: relative;
    height: 0;

    padding-bottom: 70%;

    margin-bottom: 30%
}

.mockup{
    position: relative;

    img{
        display: block;
    }

    

    div{
        position: absolute;
        overflow: hidden;
        background: gray;
       

    }

    &.imac{
        div{
            
            left: 4.2%;
            width: 91.6%;
            top: 5%;
            height: 62.75%;
    
        }

        width: 80%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.macbook{
        div{
            left: 11.5%;
           width: 76.8%;
           top: 5.9%;
           height: 85%;


        }

        position: absolute;
        width: 70%;

        top: 80%;
        right: 0%;
    }

    &.s9{
        div{
            left: 3%;
           width: 94%;
           top: 4.9%;
           height: 91%;
           border-radius: 0.8rem;


        }

        position: absolute;
        width: 20%;
        top: 60%;
        left: -5%;
    }
}