@import '~flickity/css/flickity.css';

.slider{
    .slide{
        width: 60%;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.flickity-button{
    background-color: $jbr_blue;
    color: $jbr_white;

    &:hover{
        background-color: $jbr_teal;
    }
}