.expertise{
    @extend .row;
    position: relative;

    .item{
        width: 100%;
        position: relative;
        transition: 0.1s;
        cursor: pointer;

       .linkbox{
           transition: 0.1s;
       }

        h3{
            font-size: 1.4rem;
        }

        .overlay{
            //background: $jbr_teal;
        }

        @media(min-width: 992px){
            max-width: 25%;

            .slideout{
                display: none;
        }

    }

        

    }

    &-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.expertise-expansion{
    margin-top: 50px;
}