.expertise{
    @extend .row;
    position: relative;

    margin-bottom: 50px;

    .item{
        width: 100%;
        position: relative;
        transition: 0.1s;
        cursor: pointer;

       .linkbox{
           transition: 0.1s;

           @media(min-width: 992px){

           &.active+span{
               
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            bottom: -50px;
            left: 50%;
            border-bottom: 10px solid $jbr_blue;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;

           }
        }
       }

        h3{
            font-size: 1.4rem;
        }

        .overlay{
            //background: $jbr_teal;
        }

        @media(min-width: 992px){
            max-width: 25%;

            .slideout{
                display: none;
        }

    }

        

    }

    &-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.expertise-expansion{
   
    background: $jbr_blue;
    color: $jbr_white;
    padding: 50px;
    display: none;
}

.expansion-wrapper{
    display: none;
    @media(min-width: 992px){
        display: block;
    }
}

@import 'logos';