.more-link { // Fancy link button that turns into an arrow (I know right?)
    border-bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;

    transition: 0.2s;

    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        display: block;
        border-bottom: 4px solid $jbr_blue;
        top: 50%;
        left: 0;
        width: 100%;
        transition: inherit;

    }

    &::before {

        transform: translatey(-28px);
    }

    &::after {
        transform: translatey(22px);

    }

    .left {
        position: absolute;
        content: "";
        display: block;
        border-right: 4px solid $jbr_blue;
        height: 50px;
        left: 0;
        transition: inherit;
        top: 0;


    }




    .inner {
        transition: inherit;

        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            border-right: 4px solid $jbr_blue;
            height: 25px;
            right: 0;
            transition: inherit;


        }

        &::before {
            top: 0;
            transform-origin: bottom right;
        }

        &::after {
            bottom: 0;
            transform-origin: top right;

        }

    }


    &:hover {

        transform: translateX(-24px);

        &::before,
        &::after {
            transform: scalex(0.6) translatey(-2px) translatex(3px);
        }

        .inner {
            color: transparent;

            &::before {
                transform: translatex(-19px) rotate(-45deg);
            }

            &::after {
                transform: translatex(-19px) rotate(45deg);
            }

        }

        .left {
            transform: translatex(20px) scaley(0);
        }
    }
}