&::before {



    content: attr(data-title);
    display: block;

    position: absolute;
    z-index: -1;
    transform: scale(3);
    transition: 0;



    text-shadow: none;

    color: white;
    opacity: 0.2;
    background: none;
    transition: 1s;

    @supports (background-clip: text) {
        color: transparent;
        background: inherit;
        background-size: cover;
        background-position: center;
        background-repeat: repeat-x;
        background-image: attr(data-bg);
        background-clip: text;
        opacity: 0;

        @supports(filter: opacity(0)) {
            opacity: 1;
            filter: opacity(0);
        }


    }




    @media(min-width: 1024px) {
        background-size: 35vw;
        background-position: center 25%;
        background-attachment: fixed;
    }
}