.toggle-nav{

    appearance: none;
    background-color: none;
    border-radius: 0;
    box-shadow: 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
    background: transparent;
    border: 0;

    span{
        transition: 0.2s;
    }

    .line{
        position: absolute;

        border-bottom: 4px solid $jbr_blue;
        width: 80px;
        transform: scalex(0.8);
        left: 0;

        &-1{
            top: 0;
            transform-origin: left;
        }

        &-2{
            top: 23px;
            transform-origin: left;
            transform: translatex(8px) scalex(0.8);
        }

        &-3{
            top: 23px;
            transform-origin: right;
            transform: translatex(-8px) scalex(0.8);

        }

        &-4{
            top: 46px;
            transform-origin: right;
        }
    }

    .inner{
        opacity: 0;
    }

    &:hover{
        .inner{
            opacity: 1;
        }

        .line{
            &-1, &-4{
                transform: scalex(1);
            }

            &-2{
                transform: scalex(0.05) scaley(12.5);
            }

            &-3{
                transform: scalex(0.05) scaley(12.5);
            }
        }
    }

}

.nav-open {

}

.nav-toggle-wrapper{
    text-align: right;
}