/**
Mixins for creating the fancy 404 page
**/

@mixin coord($x, $y) { // Assign percentage coordinates to an item
    left: $x * 1%;
    top: $y * 1%;
}

$i: 1;

@mixin cc($x, $y) {
    &:nth-child(#{$i})::after {
        @include coord($x, $y);
    }

    $i: $i+1 !global;



}

@import '4';
@import '0';